@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");

body {
  margin: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.left {
  font-family: "Dosis", sans-serif;
  font-size: 1.2em;
  height: 100vh;
  box-sizing: border-box;
  padding: 10%;
  padding-top: 15vh;
}

.right {
  height: 100vh;
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.button-container {
  margin-top: 5%;
}

#primaryButton {
  font-family: "Dosis", sans-serif;
  color: white;
  font-weight: bold;
  background-color: #1db91d;
  border-radius: 100px;
  width: 238px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.2s ease-out;
}

#primaryButton:hover {
  background-color: #fa6b52;
}

.me {
  color: grey;
}
.me:hover {
  color: rgb(250, 90, 95);
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .main-container {
    display: block;
  }

  .right {
    display: none;
  }

  .button-container {
    display: none;
  }

  .mobile {
    display: block;
  }
}
