@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");

body {
  margin: 0;
}

.top-artists-list-container {
  background-image: linear-gradient(to bottom right, #3edce5, #1db954);
}

.mainstream-meter-container {
  background-image: linear-gradient(to right, #020202, #1db954);
}

.artists {
  stroke: white;
  stroke-width: 5px;
}
.artists:hover {
  cursor: pointer;
}
text {
  font-family: "Dosis", sans-serif;
}
