@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");

body {
  margin: 0;
  overflow-y: visible;
}

.top-artists-list-container {
  background-image: linear-gradient(to bottom right, #d23ee5, #581313);
  width: 100%;
}

.mainstream-meter-container {
  width: 100%;
  background-image: linear-gradient(to right, #020202, #581313);
}

.artists {
  stroke: white;
  stroke-width: 5px;
}
.artists:hover {
  cursor: pointer;
}
text {
  font-family: "Dosis", sans-serif;
}
